[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
    url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/motemen/git-vim.git
[submodule "bundle/erlang-skel"]
	path = bundle/erlang-skel
	url = https://github.com/vim-scripts/vim-erlang-skeleteons.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
    url = https://github.com/majutsushi/tagbar.git
